{% extends "index.html" %}

{% block content %} 
    <div class="header header-login">
        <div class="header-content">
            <div class="header-content-inner">
                <h2>Find the right price for groceries even when your mom doesn't pick up.</h2>
                <hr>
                <h2 id="signInText" class="form-login-heading" style="font-size:20px; line-height:50px"> Please sign in.</h2>
                <form class="form-login" method="post" id="loginfm" action="/login">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Email address</label>
                    <input type="password" name="inputPassword" class="form-control" placeholder="Password" required autofocus>
                </form>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <a onclick="postLogin()" class="btn btn-primary btn-xl page-scroll" style="margin-right:5px">Sign In</a>
                    <a href="#registration" class="btn btn-primary btn-xl page-scroll">Register</a>
                </div>
            </div>
        </div>
    </div>
    
    <section class="bg-primary" id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Start saving!</h2>
                    <hr class="light">
                    <form class="form-register">
                        <label for="firstName" class="sr-only">First Name</label>
                        <input type="firstName" id="firstName" class="form-control" placeholder="First name" required autofocus>
                        <label for="lastName" class="sr-only">Last Name</label>
                        <input type="lastName" id="lastName" class="form-control" placeholder="Last name" required autofocus>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only">Email address</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
                    </form>
					<br />
                    <a onclick="postRegistration()" id="submit" href="#page-top" class="btn btn-default btn-xl page-scroll">Submit</a>
                    <script>
                        function postRegistration() {
    document.getElementById("signInText").innerHTML = "Thank you for registering. Please sign in.";
}; 
					
					function postLogin(){
						document.forms["loginfm"].submit();};
					</script>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
